.ironman-giphy {
    text-align: center;
  }
  
  .gif-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .gif-item {
    margin: 0;
    padding: 0;
  }
  
  .gif-item img {
    max-width: 100%;
    height: auto;
  }

  .search-giphy {
    text-align: center;
    margin: auto;
    width: 80%;
  }