.App {
  text-align: center;
}

.h1 {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ironman-giphy {
  text-align: center;
}

.gif-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.gif-item {
  margin: 0;
  padding: 0;
}

.gif-item img {
  max-width: 100%;
  height: auto;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
